html, body {
    overflow-y: visible;
}

textarea.fsql {
    width: 100%;
    font-family: monospace;
}

.pk-link {
    cursor: pointer;
}

.sql-history-code {
    width: 100%;
    font-family: monospace;
}

textarea.results {
    width: 100%;
    font-family: monospace;
}

.fsql-history-list li {
    cursor: pointer;
}
.fsql-results {
    overflow: auto;
}
.fsql-results .table-results textarea.results {
    display: none;
}

.fsql-results .textarea-results table {
    display: none;
}

.fsql-results-toolbar span {

}

.fsql-results-toolbar button {
    float: right;
}

.middle-toolbar {
    padding: 10px;
}
table span.pk-value {
    float: left;
    cursor: pointer;

}
table span.pk-value:before {
    content: "\e095";
    font-family: "Glyphicons Halflings";
}

table td .type-name {
    font-size: 70%;
    /*vertical-align: super;*/
}

.object-panel {
    overflow: auto;
}