textarea.fsql {
    width: 100%;
    font-family: monospace;
}

.pk-link {
    cursor: pointer;
}

.sql-history-code {
    width: 100%;
    font-family: monospace;
}

.fsql-history-list li {
    cursor: pointer;
}